{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Menu Example</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/styles.css' %}" />
</head>
<body>
    <div id="left-menu">
        <a href="#" class="menu-button" id="button1" draggable="true" data-title="Title 1">Button 1</a>
        <a href="#" class="menu-button" id="button2" draggable="true" data-title="Title 2">Button 2</a>
        <a href="#" class="menu-button" id="button3" draggable="true" data-title="Title 3">Button 3</a>
        <a href="#" class="menu-button" id="button4" draggable="true" data-title="Title 4">Button 4</a>
        <a href="#" class="menu-button" id="button5" draggable="true" data-title="Title 5">Button 5</a>
    </div>

    <div id="drop-area"></div>

    <script src="{% static '/js/source.js' %}"></script>
</body>
</html>

